.footer {
    padding-top: 40px;

    &-container {
        padding-bottom: 80px;
    }

    h4 {
        font-size: 16px;
        font-weight: 500;
    }

    li,
    a {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }

    @include mq($until: desktop) {
        margin-bottom: 10px;

        &-container {
            padding-bottom: 20px;
        }

        .col {
            min-width: 50%;
            margin-bottom: 20px;
        }
    }

    @include mq($until: 767px) {
        .col {
            min-width: 100%;
            margin-bottom: 20px;
        }
    }

    .copyright {
        text-align: center;
    }
}